.dynamic-page-container {
  padding-top: 48px;
}

.col-name {
  width: auto;
  min-width: 150px;
  cursor: default;
  user-select: all;
}

.col-status {
  width: auto;
  min-width: 150px;
}

.col-pools {
  width: auto;
  min-width: 150px;
  cursor: default;
  user-select: all;
}

.col-properties {
  width: auto;
  min-width: 150px;
}

.col-stage {
  width: auto;
  min-width: 250px;
}

.col-additionalInfo {
  width: auto;
  min-width: 210px;
  cursor: default;
  user-select: all;
}

.col-comments {
  width: auto;
  min-width: 100px;
}

th {
  font-weight: bold;
  color: var(--ericsson-white);
  font-size: 12px;
}

th.mat-header-cell,
th.mat-header-cell[_ngcontent-c4]:first-child {
  padding-left: 25px;
}

.dynamic-page-header-container {
  padding-top: 10px;
}

tr.mat-header-row {
  padding-left: 25px;
}

td {
  font-size: 12px;
}

a {
  font-size: 12px;
}

.tbl-row {
  height: 30px !important;
  max-height: 30px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td.mat-cell {
  padding-left: 25px !important;
}

td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  padding-right: 10px !important;
}

.ng-container {
  flex-direction: column;
}

.dynamic-table-header {
  background-color: var(--rpt-teal) !important;
  height: 30px;
}

.col-startSession {
  padding-right: 10px;
  padding-left: 10px;
}

.test-environment-action-icons {
  text-indent: 10px;
  text-align: center;
}

.container {
  width: auto;
  max-width: 1600px;
}

@media (min-width: 2000px) {
  .container {
    max-width: 1800px;
  }
}

h4 {
  font-weight: bold;
}

.mat-button-toggle {
  min-width: 55px;
}

.material-icons {
  cursor: help;
}
