<div class="admin-env-container">
  <div class="environment-view">
      <h1 class="environment-h1"> Environments Administration </h1>
      <div>
          <form [formGroup]="enterEnvironmentForm">
              <mat-form-field class="search-view" flatLabel="auto" appearance="outline">
                  <input matInput [(ngModel)]="givenEnvironment" maxlength="30" placeholder="Enter Environment Name"
                      formControlName="environmentNameControl">
                  <mat-hint align="end"><b>Case Sensitive</b></mat-hint>
              </mat-form-field>
              <br>
              <br>
              <button [disabled]="!enterEnvironmentForm.valid" class="add-environment" mat-raised-button
                  (click)="addEnvironment()" color="primary">Add Environment</button>
              <button [disabled]="!enterEnvironmentForm.valid" class="edit-environment" mat-raised-button
                  (click)="editEnvironment()" color="">Edit Environment</button>
              <button [disabled]="!enterEnvironmentForm.valid" class="remove-environment" mat-raised-button
                  (click)="removeEnvironment()" color="warn">Remove Environment</button>
          </form>
      </div>
  </div>
</div>
