<app-dynamic-page
[tableDisplayedColumnNames]="['Name', 'Status', 'Pools', 'Properties', 'Pipeline Stage', 'Additional Info','Comments',  'Action(s)']"
[tableDisplayedColumnsIds]="['name', 'status', 'pools', 'properties', 'stage', 'additionalInfo', 'comments', 'testEnvironmentActionsMenu']"
[tableTitle]="'Test Environments'"
[modalTitle]="modalTitle"
[modalDisplayedColumnIds]="['product', 'platformType', 'fromState', 'version', 'ccdVersion']"
[modalDisplayedColumnNames]="['Product', 'Platform Type', 'From State', 'To State', 'CCD Version']">
</app-dynamic-page>
