<mat-form-field class="comments-form">
  <button title="Edit comments" class="edit-small" [hidden]=isEditable (click)="editTextArea(information)">
    <i matTooltip="Edit Current Information" class="material-icons md-10">create</i>
  </button>
  <button title="Expand comments" class="resize-text-area" [hidden]="isExpandButtonHidden" (click)="autoGrowTextAreaFromButton(information)">
      <i matTooltip="Expand" class="material-icons md-10">arrow_downward</i>
  </button>
  <button title="Collapse comments" class="undo-small" [hidden]="isResizeButtonHidden" (click)="resetTextArea(information)">
      <i matTooltip="Collapse" class="material-icons md-10">arrow_upward</i>
  </button>

  <button title="Confirm changes to comments" class="edit-small" [hidden]="!isEditable" (click)="changeButtonTypeAndSaveCurrentInfo(information.value, information)">
      <i matTooltip="Save Information" class="material-icons md-10">done</i>
  </button>
  <button title="Undo changes to comments" class="undo-small" [hidden]="!isEditable" (click)="information.value=(testEnvironment.comments)">
      <i matTooltip="Undo" class="material-icons md-10">undo</i>
  </button>
  <textarea #information name="information" (keyup)="autoGrowTextArea(information)" class="comments" spellcheck="false" [readonly]="!isEditable"
      matInput [value]="testEnvironment.comments" matAutosizeMinRows="3" matAutosizeMaxRows="10"></textarea>
</mat-form-field>
